@font-face {
    font-family: "iconfont"; /* Project id 4979114 */
    src: url('//at.alicdn.com/t/c/font_4979114_41aceiga87g.woff2?t=1752916751492') format('woff2'),
         url('//at.alicdn.com/t/c/font_4979114_41aceiga87g.woff?t=1752916751492') format('woff'),
         url('//at.alicdn.com/t/c/font_4979114_41aceiga87g.ttf?t=1752916751492') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-csdn:before {
    content: "\e638";
  }
  
  .icon-shejiaotubiao-42:before {
    content: "\e647";
  }
  
  .icon-Bilibili:before {
    content: "\e61f";
  }
  
  .icon-zhihu:before {
    content: "\eb80";
  }
  
  .icon-gitee:before {
    content: "\e600";
  }
  